body {
    font-family: Arial, sans-serif;
    margin: 12;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

nav {
    background-color: #333;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.container .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}



.container .nav-item  {
    margin-right: 1rem;
}

.nav-item .nav-link {
    color: wheat;
    text-decoration: none;
}

nav .search-bar {
    display: flex;
    align-items: center;
}

nav .search-bar input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

header {
    background: url('background-nivia.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.hero-image{
    width: 2px;
    height: 5px;
    overflow: hidden;
}

.hero-image img {
    width: 1%;
    height: auto;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
}


form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin: 1rem 0 0.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.social-media {
    margin-top: 2rem;
    text-align: center;
}

.social-media a {
    margin: 0 1rem;
    font-size: 2rem;
    color: #333;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #f4f4f4;
}

/* Products Section  */

.p-container{
    padding: 10px;
}

.product-hero-banner{
    background-image: url('img/girl-eye.png');
    background-position: center;
    background-size: 90%;
    height: 600px;
}

.product{
    text-align: center;
    margin: 20px;
}

.product img{
    width: 100%;
  max-width: 150px;
  border-radius: 10px;
  max-height: 150px;
  border-radius: 10px;
}

.product button{
    background-color: royalblue;
    border-radius: 30px;
    padding: 15px;
    color: white;
}

.product button:hover{
    cursor: pointer;
    background-color: lightpink;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
